section#main {
    height: calc(100vh - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

#main h1 {
    color: orange;
    margin-top: 175px;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#main h2 {
    color: black;
    font-style: italic;
    font-weight: bold;
}

#main hr {
    border: none;
    width: 50%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.twitter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Increased gap between tweets */
  margin: 20px;
}

/* Styling for each tweet block */
.twitter-tweet {
  flex: 0 1 45%; /* Allow the tweet to take up to 45% of the container width */
  max-width: 600px; /* Ensure it doesn't grow too wide */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.twitter-tweet:hover {
  transform: scale(1.05); /* Slightly enlarges the tweet on hover */
}

@media (max-width: 1200px) {
  .twitter-tweet {
    margin: auto;
  }

  .twitter-posts {
    display: block;
  }
}

@media (max-width: 992px) {
  #main hr {
    width: 70%;
}
}

@media (max-width: 576px) {
  #main hr {
    width: 90%;
}
}
